body{
    margin: 0;
}
.wrapper{
    height:100vh;
    width: 100vw;
    display: flex;
}

#left{   
    display: flex;
    justify-content: center;
}

#right{
    background-color: 	rgb(175, 255, 129);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#logotile{
    display: flex;
    background-color: rgba(0,0,0,.5);
    justify-content: center;
    top: 140px;
    position: absolute;
    width: 35vw
}

#plantdiv{
    display: flex;
    background-color: rgba(0,0,0,.5);
    justify-content: center;
    
}

#logo{
    width: 20vw; 
    height: auto;
}

#plants{ 
    max-height:100vh;
    height: 100vh;
    width: 35vw;
}

h2{
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
    margin-right: 60px;
}

#formy{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#inputs{
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    display: flex;
    background-color: rgb(125,196,103);
}

#subtile{
    background-color: rgb(125,196,103);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
label{
    margin-left: 40px;
    display: block;
    outline: none;
    font-weight: 800;
}
input:focus{
    background-color: rgb(94, 255, 0);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    outline: none;
}

input{
    border-radius: 0px 5px 5px;
    margin-left: 40px;
    margin-bottom: 20px;
    max-width: 200px;
    min-width: 100px;
    background-color: rgb(157,240,132);
}
input:hover{
    background-color: rgb(94, 255, 0);
}

button{
    color: rgb(123, 255, 47);
    background-color: rgb(53, 112, 29);
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    margin-left: 40px;
    max-width: fit-content;
    min-width: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
}

button:focus{
    background-color: rgb(16, 168, 47);
    color: white;
}

button:hover{
    background-color: rgb(16, 168, 47);
    color: white;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
}

p{
    margin-left: 40px;
    color: darkgreen;
}

#plantcredit{
top: 95%;
margin-left: 0;
margin-top: 0;
margin-right: 0;
margin-bottom: 10px;
position: absolute;
color: rgba(255, 255, 255, 0.4);
}

a{
    font-family: 'Poppins', sans-serif;
    color: rgb(197, 255, 196);
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

a:hover{
    color:rgb(16, 168, 47);
}